/* AppStyles.css */

.App {
  font-family: 'Arial', sans-serif;
  text-align: center;
  background-color: #f7f7f7;
  padding: 20px;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

.file-upload {
  margin-bottom: 20px;
}

.upload-button {
  padding: 10px 20px;
  background-color: #61dafb;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  outline: none;
  margin-top: 20px;
}

.upload-button:hover {
  background-color: #4fa3d1;
}

.green-message {
  color: green;
  margin-bottom: 20px;
  font-weight: bold;
}

.preview-container {
  margin-top: 40px;
  text-align: left;
}

.file-preview {
  max-width: 100%;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

#downloadContainer {
  margin-top: 20px;
}

.download-button {
  padding: 10px 20px;
  background-color: #61dafb;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  outline: none;
  margin-top: 20px;
}

.download-button:hover {
  background-color: #4fa3d1;
}
