body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 220px;
  /* padding: 1px 16px; Adjusted padding */
  /* height: 1000px;
  text-align: center; */
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 50%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: none;
    text-align: center; /* Centering the links */
  }
  div.content {
    margin-left: 0;
    padding-left: 16px; /* Added left padding to match the sidebar */
    padding-right: 16px; /* Added right padding to match the sidebar */
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
  }
}

.text-area-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 50vh;
  margin: 50px auto; 
}

.text-area {
  width: calc(50% - 10px);
  height: calc(100% - 20px);
  position: relative;
  border: 1px solid #ccc;
}

.text-area:nth-child(2) {
  margin-top: 0;
  margin-left: 20px; /* Adjusted to create space between text areas */
}

.text-area textarea {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  resize: both;
  margin: 10px;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.container1 {
  max-width: calc(100% - 220px);
  margin: 10px auto;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
  /* display: flex; */
  /*flex-direction: row; Changed to row */
  /* justify-content: space-between;  Adjusted alignment */
  /* align-items: center; */
  height: 75vh;
  /*margin-top: 70px; */
  overflow: auto;
}
.container1 p {
  margin-bottom: 10px; /* Add margin-bottom to create space between the paragraph and content */
}

#imageContainer {
  max-width: 100%;
  max-height: 100%;
}